/* Theme */
:root {
  /* Primary */
  --primary: 0 0% 0%;
  /* Foreground */
  --foreground: 0 0% 0%;
  --muted-foreground: 0 0% 30%;
  /* Background */
  --background: 0 0% 100%;
  --muted: 0 0% 95%;
  --card: 0 0% 90%;

  /* Basic */
  --border: 0 0% 85%;
  --input: 0 0% 90%;
  --ring: 0 0% 20%;
  --radius: 0.5rem;
}
.dark {
  /* Primary */
  --primary: 0 0% 100%;
  /* Foreground */
  --foreground: 0 0% 100%;
  --muted-foreground: 0 0% 70%;
  /* Background */
  --background: 0 0% 0%;
  --muted: 0 0% 12%;
  --card: 0 0% 15%;

  /* Basic */
  --border: 0 0% 18%;
  --input: 0 0% 15%;
  --ring: 0 0% 80%;
}
:root {
  --un-default-border-color: hsl(var(--border) / 1);
}
html.dark {
  color-scheme: dark;
}

/* Global */
a {
  transition: color 0.2s ease;
  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}
